jaxns==2.4.8
jax
jaxlib
etils
bilby
matplotlib
numpy
scipy
pytest
tensorflow_probability
arviz
nessai
pyyaml
h5py
pydantic
nautilus-sampler
ultranest
dynesty
pymultinest
git+https://github.com/PolyChord/PolyChordLite@master